<div class="disfruto-announcement">
  {{ section.settings.text }}
  {%- if section.settings.link_text != blank -%}
    <a href="{{ section.settings.link_url }}">{{ section.settings.link_text }}</a>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Disfruto Announcement",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Announcement Text",
      "default": "Dein 1. Käse Genuss Set"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link Text",
      "default": "gratis"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL"
    }
  ],
  "presets": [
    {
      "name": "Disfruto Announcement"
    }
  ]
}
{% endschema %}
